beautifulsoup4==4.12.2
mysql-connector-python==9.7.0
requests==2.33.1
redis==7.4.0
pybloom-live==4.0.0
fake-useragent==2.2.0
urllib3==2.6.3
lxml==4.9.3
scrapy==2.8.0
sqlalchemy==2.0.20
pymysql==1.1.0
cryptography>=3.4.8
celery==5.3.1
pandas==2.0.3
matplotlib==3.7.2
networkx==3.1
scapy==2.5.0
httpx==0.24.1
numpy==1.24.3
seaborn==0.12.2
